<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-1">
        <h1>Edit Details</h1>
        <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" class = "needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-lable">Title:</label>
                <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>" required>
                <div class="invalid-feedback">Please enetr valid title.</div>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-lable">Description:</label>
                <input type="text" class="form-control" name="listing[description]" value="<%= listing.description %>" required>
                <div class="invalid-feedback">Please enetr valid description.</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-lable">Upload New Image:</label>
                <input type="file" class="form-control" name="listing[image][url]" required>
                <div class="invalid-feedback">Please enter valid image path.</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-lable">Price:</label>
                    <input type="number" class="form-control" name="listing[price]" value="<%= listing.price %>" required>
                    <div class="invalid-feedback">Please enetr valid price.</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-lable">Country:</label>
                    <input type="text" class="form-control" name="listing[country]" value="<%= listing.country %>" required>
                    <div class="invalid-feedback">Please enetr valid country.</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-lable">Location:</label>
                <input type="text" class="form-control" name="listing[location]" value="<%= listing.location %>" required>
                <div class="invalid-feedback">Please enetr valid location.</div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-lable">Category:</label>
                <select class="form-control" name="listing[category][]" required>
                    <option value="" disabled selected>Select Category</option>
                    <% for(let category of categories){ %>
                        <option value="<%= category._id %>"><%= category.name %></option>
                    <% } %>
                </select>
                <div class="invalid-feedback">Please select a category.</div>
            </div>
            <button class="btn btn-dark update-btn mt-3" type="submit">Edit</button>
        </form>
    </div>
</div>