<% layout("/layouts/boilerplate") %>
<div class="filters">
    <% for (let category of categories) { %>
        <div class="filter" data-category="<%= category._id %>">
            <div><i class="<%= category.iconClass %>"></i></div>
            <p><%= category.name %></p>
        </div>
    <% } %>
    <!-- </div> -->

    <div class="tax-toggle">
        <div class="form-check form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
        </div>
    </div>
</div>
<br>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-3 mt-3">
    <% if (allListings.length === 0) { %>
        <div class="alert alert-warning text-center mt-3">
            No listings found for "<%= q %>"
        </div>
    <% } %>
    <% for (let listing of allListings) { %>
    <div class="col">
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card listing-card h-100" data-category="<%= listing.category.map(c => c._id).join(',') %>">
                <img src="<%- listing.image.url %>" class="card-img-top" alt="image">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br>
                        &#8377;<span class="price-amount" data-base-price="<%= listing.price %>">
                            <%= listing.price.toLocaleString("en-IN") %>
                        </span> / night
                        <i class="tax-info-gst-info">&nbsp;+18% GST</i>
                        <i class="tax-info-included-info" style="display:none;">&nbsp;@taxes included.</i>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <% } %>
</div>

<script>
    const filters = document.querySelectorAll(".filter");
    const listings = document.querySelectorAll(".listing-card");

    filters.forEach(filter => {
        filter.addEventListener("click", () => {
            const categoryId = filter.dataset.category;

            listings.forEach(listing => {
                const listingCategories = listing.dataset.category.split(",");
                if (categoryId === "all" || listingCategories.includes(categoryId)) {
                    listing.closest(".col").style.display = "block";
                } else {
                    listing.closest(".col").style.display = "none";
                }
            });
        });
    });
</script>