<% layout("/layouts/boilerplate") %>
<div class ="filters">
    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Mountain</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-chess-rook"></i></div>
        <p>Castles</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
    </div>
    <div class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boat</p>
    </div>

    <div class="tax-toggle">
        <div class="form-check form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
        </div>
    </div>
</div>
<br>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-3 mt-3">
    <% for (let listing of allListings) { %>
    <div class="col">
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card listing-card h-100">
                <img src="<%- listing.image.url %>" class="card-img-top" alt="image">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br>
                        &#8377;<span class="price-amount" data-base-price="<%= listing.price %>">
                            <%= listing.price.toLocaleString("en-IN") %>
                        </span> / night
                        <i class="tax-info-gst-info">&nbsp;+18% GST</i>
                        <i class="tax-info-included-info" style="display:none;">&nbsp;@taxes included.</i>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <% } %>
</div>