<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="card col-6 offset-2 show-card listing-card">
        <div class="card-body">
            <h2 class="card-text"><b><%= listing.title %></b></h2>
        </div>
        <img src="<%= listing.image.url %>" class="card-img-top show-img ms-3" alt="<%= listing.image.filename %>">
        <div class="card-body">
                <p class="fa-solid fa-user"></p><i class="fw-bold card-text"><%= listing.owner.username %></i>
                <p class="card-text"><%= listing.description %></p>
                <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
                <p class="card-text"><%= listing.location %></p>
                <p class="card-text"><%= listing.country %></p>
        </div>
    </div>
</div>

<% if (currentUser && listing.owner._id.equals(currentUser._id)) { %>
    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark offset-2">Edit</a>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger offset-4">Delete</button>
        </form>
    </div>
<% } %>
<hr>

<div class="all-reviews col-8 offset-2 mt-3 mb-3">
    <h4>All Reviews</h4>
    <div class="row">
        <% if(listing.reviews.length > 0) { %>
            <% listing.reviews.forEach(review => { %>
            <div class="card col-5 ms-2 mb-2">
                <div class="card-body">
                    <h5 class="card-title mb-0">@<%= review.author.username %></h5>
                    <% for(let i = 0; i < review.rating; i++) { %>
                        <span>&#9733;</span>
                    <% } %>
                    &nbsp;&nbsp;&nbsp;
                    <span class="review-date"><%= new Date(review.createdAt).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %> </span> <br>
                    <p><%= review.comment %> </p>
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <% if (currentUser && review.author.equals(currentUser._id)) { %>
                        <button class="btn btn-danger">Delete</button>
                        <% } %>
                    </form>
                </div>
            </div>
            <% }) %>
        <% } else { %>
            <p>No reviews yet.</p>
        <% } %>
    </div>
</div>

<hr>
<% if (currentUser) { %>
<div class="review col-8 offset-2 mt-3 mb-3">
    <h4>Leave a Review</h4>
    <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
        <div class="star-rating d-flex mb-2">
            <div class="d-flex align-items-center mt-2 mb-2">
                <h6 class="me-2 star-label">Rating:</h6>
                <i class="fa-solid fa-star text-warning" data-value="1"></i>
                <i class="fa-regular fa-star" data-value="2"></i>
                <i class="fa-regular fa-star" data-value="3"></i>
                <i class="fa-regular fa-star" data-value="4"></i>
                <i class="fa-regular fa-star" data-value="5"></i>
            </div>
        </div>
        <!-- hidden input to actually send the rating -->
        <input type="hidden" name="review[rating]" id="rating-value" value="1" required/>
        <div class="invalid-feedback">Please select a rating.</div>
        <div>
            <label for="comment" class="form-label">Comment:</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Please provide a comment.</div>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-3">Submit Review</button>
    </form>
</div>
<% } %>